@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Luckiest+Guy&family=Roboto:wght@400;500;700&display=swap");

.font-coda {
  font-family: "Coda", cursive;
}

.font-luckiest {
  font-family: "Luckiest Guy", cursive;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 112px;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

button {
  background: linear-gradient(
    270deg,
    #2f3860 -2.29%,
    #bd7243 47.26%,
    #f7b466 100%
  );
  padding: 16px 27px;
}

button:hover {
  background: linear-gradient(0deg, #3a3945, #3a3945);
}

section.hero {
  background-image: url(./assets/img/backgrounds/bg-hero-1.png),
    url(./assets/img/backgrounds/bg-hero-2.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: auto 100%, auto 100%;
  scroll-margin: 112px;
}

@media only screen and (max-width: 768px) {
  section.hero {
    background-size: auto 85%, auto 85%;
  }
}

@media only screen and (max-width: 425px) {
  section.hero {
    background-image: url(./assets/img/backgrounds/bg-hero-2.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 120% auto;
  }
}

section.gallery {
  background-image: url(./assets/img/backgrounds/bg-header.svg);
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
  scroll-margin: 112px;
}

@media only screen and (max-width: 425px) {
  section.gallery {
    background-size: auto 200px;
    background-position: center top;
  }
}

section.faq {
  scroll-margin: 112px;
}

section.footer {
  background-image: url(./assets/img/backgrounds/bg-footer2.svg),
    url(./assets/img/backgrounds/bg-footer.svg);
  background-repeat: no-repeat;
  background-size: 100% auto, 100% auto;
  background-color: #1a1a1a;
}

@keyframes headerMargin {
  from {
    margin-top: -100px;
    margin-bottom: 100px;
  }
  to {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.header {
  animation-name: headerMargin;
  animation-duration: 1s;
}

@keyframes heroContentMargin {
  from {
    margin-top: 400px;
    margin-bottom: -400px;
    transform: scale(0.5);
  }
  to {
    margin-top: 0px;
    margin-bottom: 0px;
    transform: scale(1);
  }
}

.hero-content {
  animation-name: heroContentMargin;
  animation-duration: 2s;
}

@keyframes heroMargin {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.hero {
  animation-name: heroMargin;
  animation-duration: 2s;
}

.header.open {
  height: 100vh;
  position: fixed;
  z-index: 1000;
  justify-content: start;
  align-items: start;
  background: #3b3d5e;
}

.react-toggle-track {
  width: 25px;
  height: 9px;
  margin-top: 4px;
  background-color: #d9d9d9;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #d9d9d9;
}

.react-toggle-thumb {
  width: 15px;
  height: 15px;
  background-color: #a6acb7;
  border-color: #a6acb7;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: none;
}

.react-toggle--checked .react-toggle-thumb {
  left: 10px;
  border-color: #3b3d5e;
  background-color: #3b3d5e;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: none;
}

.react-toggle--checked .react-toggle-track {
  background-color: #d9d9d9;
}

div[data-accordion-component="AccordionItemPanel"] {
  height: auto;
  transition: height 0.3s;
}

.content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease;
  transition: padding 0.5s ease;
  font-weight: 500;
  font-size: 18px;
  color: #3B3D5E;
  background-color: #DEDEDE;
  padding: 0px 40px;
}
.content p {
}
.content:target {
  max-height: 350px;
  padding: 40px;
}

.title {
  display: block;
  padding: 20px 40px;
  font-size: 1em;
  background-color: #3B3D5E;
  transition: background-color 0.5s;
}
.title:hover {
  background-color: #343553;
}
